<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADC_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADC_Control.Properties.Settings>
            <setting name="PortEndBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PortDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PortBaundRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="PortParity" serializeAs="String">
                <value>0</value>
            </setting>
        </ADC_Control.Properties.Settings>
    </userSettings>
</configuration>